img {
    margin-left: auto;
 margin-right: auto;
height: 100% ;
width: 100%;}
h1 {
    text-align: center;
background-color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    color: black;
    display: block;
    text-align: center;
    padding: 10px 25px;
}
li a:hover {
    background-color: lightblue;
}
.picture {
    padding: 0;
    margin: 5vw;
    height: auto;
    display: block;
    width: 50%;
    flex: 1;
}
.row {
    display: flex;
}