
h1 {
    text-align: center;
background-color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    color: black;
    display: block;
    text-align: center;
    padding: 10px 25px;
}
li a:hover {
    background-color: lightblue;
}

.picture {
    padding: 0;
    margin: 4vw;
    height: auto;
    display: block;
    max-width: 50%;
    flex: 1;
    border-radius: 5vw;
}
.row {
    display: flex;
    max-width: 100%;
}
.box {
border-radius: 5vw;
width: 50%;
flex: 1;
margin: 4vw;
background-color: lightgreen;
text-align: center;
}
.picture img{
    padding: 0;
    height: auto;
    display: block;
width: 100%;
    flex: 1;
    border-radius: 5vw;
}
p {
    padding: 2px ;
}
