img {
    margin-left: auto;
 margin-right: auto;}
h1 {
    text-align: center;}
.navigation {
-webkit-box-align: center;
justify-content: space-between;
display: flex;
align-items: center;
text-align: center;
}